
parameters:
    aerial_ship_saml_sp.state.store.sso.class: AerialShip\SamlSPBundle\Entity\SSOStateStoreManager

services:
    aerial_ship_saml_sp.state.store.sso:
        class: %aerial_ship_saml_sp.state.store.sso.class%
        arguments: [@doctrine.orm.entity_manager, %aerial_ship_saml_sp.state.store.sso.entity_class%]
        public: false
