
<h1>Discovery</h1>

<ul>
{% for name, meta in providers %}
    <li>
        <a href="{{ path }}?as={{ name }}">{{ name }}</a> -
        {{ meta.getIdpProvider().getEntityDescriptor().getEntityID() }}
    </li>
{% endfor %}
</ul>