{% if error %}
    {{ error.getMessage() }}
    <hr/>
    <pre>{{ error.getTraceAsString() }}</pre>
    {% if app.environment == 'dev' %}
        <hr>
        {{ dump(error.getToken()) }}
    {% endif %}
{% else %}
    <p>Some error occurred but went out of the scope</p>
{% endif %}
